<article class="prose lg:prose-xl p-4 pb-16 m-auto max-w-4xl">
  <p>
    <a href="https://juicebox.money">Juicebox</a> is a platform for funding, operating, and scaling projects on
    Ethereum. So far, 1,335 projects have raised a total of $186m with Juicebox. For example:
  </p>
  <ul>
    <li><a href="https://juicebox.money/@cryodao">CryoDAO</a> secured $2.7m to advance cryopreservation research.</li>
    <li><a href="https://juicebox.money/p/assangedao">AssangeDAO</a> raised $52.4m to fund Julian Assange's legal
      defense.</li>
    <li><a href="https://juicebox.money/p/moondao">MoonDAO</a> brought in $8.7m to fund projects which bring us closer
      to a lunar settlement. They sent the first two crowdfunded astronauts into space.</li>
  </ul>
  <p><strong>We believe Juicebox is remarkably under-utilized.</strong> </p>
  <p>Only 117 Juicebox projects have raised more than 5 ETH (~$17k), <em>but more than 30% of those projects ended up
      raising more than 100 ETH (~$340k).</em> What this indicates: once a Juicebox projects gets going, there's a good
    chance it seriously takes off.
  </p>
  <p>We're launching Juiceworks to find and support project creators with ambitious ideas for startups, DAOs, charities,
    works of art, and more. If that's you, <a href="mailto:filip@juicebox.money">message us</a>.</p>
</article>
